In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
var_df = pd.read_csv('var_scores_df.csv', index_col=False)
s_df = pd.read_csv('mse_r2_sarima.csv', index_col=False)
x_df = pd.read_csv('mse_r2_sarimax.csv', index_col=False)
s_df.drop('Unnamed: 0',axis=1, inplace=True)
x_df.drop('Unnamed: 0',axis=1, inplace=True)

In [3]:
var_df.shape

(1743, 5)

In [4]:
s_df.shape

(1640, 4)

In [5]:
x_df.shape

(1640, 4)

In [6]:
low_zips = ['23223', '10458', '98270', '55117', '60074']
high_zips = ['90272', '10069', '10280', '90265', '94121']

In [7]:
x_df[x_df['rmse'] <= s_df['rmse']].shape

(741, 4)

In [8]:
x_df[x_df['rmse'] > s_df['rmse']].shape

(899, 4)

In [9]:
x_df[s_df['rmse'] < x_df['rmse']]

        zip            mse          r2        rmse
80    78750      61.146229    0.665715    7.819605
83    92154      63.661795    0.666547    7.978834
149   33880     142.015143    0.539908   11.917011
152   98391     149.826850    0.746295   12.240378
154   32204     150.001303    0.544005   12.247502
156   78240     152.500586   -2.041563   12.349113
158   46208     153.873383    0.399453   12.404571
163   29201     158.372279    0.094584   12.584605
178   32714     179.201275    0.033811   13.386608
180   60441     180.879547   -4.087237   13.449147
181   19134     181.798753   -0.455360   13.483277
185   85015     186.319805    0.409550   13.649901
188   21701     189.348922    0.425635   13.760411
191   78212     192.658285   -0.134582   13.880140
197   60061     200.719840    0.300425   14.167563
198   30311     201.587731    0.443469   14.198159
199   27511     202.948700    0.140958   14.246006
200   89183     205.560117    0.522108   14.337368
210    6511     219.154625   -1.276931   14.803872
212   32818     220.628446   -0.109150   14.853567
225   33755     233.032124    0.366617   15.265390
244   20901     256.091543 -383.137314   16.002860
250   27705     262.169860   -1.380357   16.191660
253   89121     262.889548    0.166899   16.213869
260   48237     267.506321   -2.278933   16.355620
264   33321     270.323395    0.114339   16.441514
268   20165     272.029658   -0.784126   16.493322
275   22193     282.797485   -4.640282   16.816584
278   32824     286.897883    0.383457   16.938060
298   29615     323.985700   -2.085578   17.999603
...     ...            ...         ...         ...
1610  10010  111210.931392  -79.443520  333.483030
1611  10005  111584.062448  -57.713861  334.042007
1612  10002  113918.242001  -71.084945  337.517765
1613  10016  114444.005184  -64.185498  338.295736
1614  94043  118938.108018 -129.478178  344.874047
1615  95014  119763.530434 -137.326128  346.068679
1616   2840  121437.777993   -8.305636  348.479236
1617  10009  121796.967039  -65.401509  348.994222
1618  10007  122151.288760  -94.339658  349.501486
1619  94086  127106.658411 -103.681545  356.520208
1620  94403  127188.741383 -137.015273  356.635306
1621  94025  130643.720286  -68.424665  361.446705
1622  10022  131177.336576  -41.154734  362.184120
1623   2111  135028.973002  -77.646201  367.462887
1624  94123  143152.289734  -59.457789  378.354714
1625  10069  146202.244232  -47.162817  382.364021
1626  94121  153290.993562 -110.069252  391.523937
1627  10006  154490.220335  -51.503544  393.052440
1628  94109  157022.045683  -60.309461  396.260073
1629  94117  164704.534800  -82.507454  405.838065
1630  10013  167016.922788  -76.614102  408.677040
1631  94110  188678.182627  -92.754428  434.371020
1632  94115  189408.306737  -71.817452  435.210646
1633  94114  201616.189383  -69.083357  449.016914
1634  94040  233175.155439  -68.590675  482.882134
1635  94103  261716.111644  -63.486363  511.581970
1636  94107  297923.358116  -66.508267  545.823560
1637  94105  374529.392880  -81.225802  611.988066
1638  94301  392672.271738  -90.803056  626.635677
1639  90265  504384.716568   -4.593647  710.200476

[899 rows x 4 columns]

In [10]:
var_df.head(1)

   Unnamed: 0   ZIP          MSE       RMSE        R2
0           0  1604  2228.321735  47.205103  0.212305

In [11]:
missing_zips = list(set(var_df['ZIP'].values) - set(x_df['zip'].values))
missing_zips = pd.DataFrame({'In_VAR': missing_zips})
missing_zips.to_csv('missing_zips.csv', index=False)

In [12]:
x_s_combo = x_df.copy()

In [13]:
x_s_combo['s_rmse'] = s_df['rmse']

In [14]:
x_s_combo['var_rmse'] = var_df['RMSE']

In [15]:
x_s_combo[ (x_s_combo['rmse']<x_s_combo['s_rmse']) & (x_s_combo['rmse']<x_s_combo['var_rmse'])]

        zip           mse           r2        rmse      s_rmse    var_rmse
0     37138      0.522023     0.998857    0.722511   11.777128   47.205103
1     45324      1.018461     0.989524    1.009188   65.082467   24.388845
2     53212      1.103078     0.937562    1.050275   16.367505  109.197334
3     85712      1.512078     0.979263    1.229666   73.373824  173.439246
4     37066      2.620541     0.985129    1.618808   39.788738   19.038364
5     15217      4.733281     0.918392    2.175611  214.030511  232.762442
6     92780      5.116923     0.984882    2.262062  321.195129  335.744248
7     78239      5.265408     0.961629    2.294648  185.596803  110.120556
8     66061      5.269739     0.945797    2.295591  201.786638  190.676475
9     29205      5.818824     0.959285    2.412224  154.463241  178.627660
10    60130      6.687282     0.902927    2.585978  182.138506  182.748963
11    19143      7.761319     0.899494    2.785914  235.795516  194.388957
12    92586      9.061287     0.974138    3.010197  127.636765  123.222906
13    55119      9.158413     0.899969    3.026287   62.253920   38.500484
14    43202     10.189055     0.747379    3.192030  192.055937  225.312492
15    68104     10.680524     0.890143    3.268107  207.268383  130.759273
16    45405     12.719669     0.707407    3.566464   92.776181   37.827985
17    60645     13.101213     0.577380    3.619560   94.511916   70.432864
18    19148     13.365442     0.832525    3.655878   56.118517   27.480354
19    19132     13.626480     0.493230    3.691406  146.751385   27.604409
20    19144     14.618347     0.867274    3.823395  140.995554   51.480686
21    33179     15.670729     0.894749    3.958627  197.705648   76.484942
22    33511     16.166407     0.924072    4.020747  196.625960   21.277982
23    75010     16.216920     0.885707    4.027024  249.261870  168.903225
24    60014     16.883690     0.831397    4.108977  235.506353  173.912467
25    80817     17.255421     0.940839    4.153965  165.373589   37.912548
26    40211     17.867939     0.691932    4.227048  177.909206   72.143874
27    91321     17.969923     0.949082    4.239095  122.871310   99.080838
28    33071     17.995189     0.903597    4.242074  124.775015  136.872558
29    22192     18.014941     0.725661    4.244401  112.509024   46.840596
...     ...           ...          ...         ...         ...         ...
1272  19102   8121.352798   -52.264475   90.118549  153.360513  197.005828
1273   7093   8149.936046 -1163.276578   90.276996  229.604837  229.026429
1274  21220   8172.905622   -12.143829   90.404124  247.848534  191.615084
1275  94587   8200.124428  -807.779396   90.554538  186.923139  104.326513
1278  89178   8274.566311    -5.484770   90.964643   92.781938  245.294942
1279   7047   8299.429293 -1097.453877   91.101204  676.029040  232.980235
1286  95758   8464.722300    -3.653787   92.003925  181.262993  149.820394
1287  30228   8513.526564    -4.165278   92.268774  141.729549  170.896385
1289  22408   8650.459349    -8.239476   93.007846  232.733947  149.385936
1290  85295   8674.881456    -3.902910   93.139044  135.203220  172.753778
1291  30106   8775.175644    -5.494073   93.675907  100.292549  140.597219
1299  10701   8987.429013  -157.913283   94.802052  195.634221  143.364089
1304  89130   9191.094250    -4.135247   95.870195  116.839186  130.776520
1309  91342   9345.441266  -195.861255   96.671823  310.778482  194.193193
1314  85395   9582.566949    -7.006044   97.890587  137.777890  173.164831
1315  30101   9695.387147    -6.105595   98.465157  100.101162  224.337697
1339   6901  10353.818133   -23.638911  101.753713  155.212893  102.552435
1341  98052  10384.461944 -1135.293708  101.904180  135.476760  144.421033
1345  23112  10636.956164   -11.285618  103.135620  315.601054  166.619119
1346   2130  10652.270398 -5638.437269  103.209837  189.563578  137.604815
1350  33444  10716.923367   -10.340660  103.522574  188.028505  139.240843
1354  11435  11042.609642  -104.167711  105.083822  134.380178  127.425513
1408  85338  14210.661484    -5.683439  119.208479  193.894034  218.944615
1417  33129  14678.439029    -8.232852  121.154608  166.652213  143.339372
1418  93035  14748.145610    -6.998392  121.441943  226.163652  136.181900
1475  78701  21721.549326    -5.635911  147.382324  350.159259  177.768859
1483  10032  23888.210248  -122.471008  154.558113  378.285601  190.113752
1484  90069  23969.349654 -2015.113522  154.820379  261.830096  279.388225
1486  90028  24293.796523  -346.467888  155.864674  213.986161  161.304282
1511  22202  33423.515885  -133.335891  182.820994  229.132269  306.163791

[609 rows x 6 columns]

In [16]:
county_df = pd.read_csv('./Zillow_Data_direct/zillow_homes_zip_county.csv')

In [17]:
county_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County

In [18]:
x_s_combo = pd.merge(x_s_combo, county_df[['RegionName','State','City','CountyName']], how='left', left_on='zip', right_on='RegionName')

In [19]:
x_s_combo.drop('RegionName',axis=1, inplace=True)

In [20]:
x_best = x_s_combo[(x_s_combo['rmse']<x_s_combo['s_rmse']) & (x_s_combo['rmse']<x_s_combo['var_rmse'])]

In [21]:
x_best_info = x_best.groupby(['State', 'CountyName', 'City'])['zip'].count()

In [22]:
x_best_info = x_best_info.to_frame().reset_index()

In [23]:
x_best_info.sort_values(by='zip', ascending=False)

    State           CountyName               City  zip
322    TX        Travis County             Austin   13
264    PA  Philadelphia County       Philadelphia   12
219    NC   Mecklenburg County          Charlotte   12
5      AZ      Maricopa County            Phoenix   10
50     CA     San Diego County          San Diego   10
255    OR     Multnomah County           Portland   10
19     CA   Los Angeles County        Los Angeles    9
68     CO       El Paso County   Colorado Springs    9
280    TX         Bexar County        San Antonio    9
112    FL        Orange County            Orlando    9
87     FL         Duval County       Jacksonville    8
156    IL          Cook County            Chicago    8
274    TN      Davidson County          Nashville    8
223    NC          Wake County            Raleigh    8
143    GA        Fulton County            Atlanta    7
318    TX       Tarrant County         Fort Worth    7
289    TX        Dallas County             Dallas    7
277    TN        Shelby County            Memphis    5
67     CO        Denver County             Denver    5
177    IN        Marion County       Indianapolis    5
63     CO      Arapahoe County             Aurora    5
6      AZ          Pima County             Tucson    5
308    TX        Harris County            Houston    5
236    NV         Clark County          Las Vegas    5
91     FL  Hillsborough County              Tampa    5
224    NE       Douglas County              Omaha    4
75     CT     Fairfield County           Stamford    3
104    FL    Miami-Dade County              Miami    3
272    SC      Richland County           Columbia    3
4      AZ      Maricopa County               Mesa    3
..    ...                  ...                ...  ...
123    FL         Pasco County       Land O Lakes    1
120    FL    Palm Beach County    Century Village    1
157    IL          Cook County  Elk Grove Village    1
119    FL    Palm Beach County         Boca Raton    1
116    FL        Orange County        Winter Park    1
115    FL        Orange County         Windermere    1
114    FL        Orange County       Williamsburg    1
113    FL        Orange County         Pine Hills    1
111    FL        Orange County           Maitland    1
110    FL        Orange County    Doctor Phillips    1
132    FL      Seminole County             Oviedo    1
133    FL      Seminole County            Sanford    1
134    FL      Seminole County     Winter Springs    1
135    GA        Bartow County       Cartersville    1
155    IL          Cook County             Berwyn    1
154    IL          Cook County  Arlington Heights    1
153    ID        Canyon County           Caldwell    1
152    HI      Honolulu County            Waianae    1
151    HI      Honolulu County             Kailua    1
147    GA         Henry County            Hampton    1
145    GA      Gwinnett County             Dacula    1
144    GA        Fulton County        Johns Creek    1
142    GA       Douglas County       Douglasville    1
141    GA          Cobb County            Vinings    1
140    GA          Cobb County             Smyrna    1
139    GA          Cobb County            Austell    1
138    GA          Cobb County            Acworth    1
137    GA       Clayton County          Jonesboro    1
136    GA       Carroll County         Carrollton    1
356    WI     Milwaukee County          Milwaukee    1

[357 rows x 4 columns]

In [28]:
census = pd.read_csv('./data/zori_census_relevant_2014_20.csv', index_col=False)
census.drop('Unnamed: 0',axis=1, inplace=True)

In [34]:
covid_df = pd.read_csv('./data/county_zip_covid.csv')
covid_df.drop('Unnamed: 0',axis=1, inplace=True)

In [35]:
covid_df.head()

,date,county,state,fips,cases,new_cases,deaths,new_deaths,year,month,...,new_col,last_flag,Code,co_st,geo_id,ttl_pop,zip,county_st,county_pop,percent_to_ttl
0,2020-03-31,Autauga,Alabama,1001.0,7,7,0,0,2020,3,...,2020-03-31,True,AL,"Autauga, AL",8600000US36003,1963,36003,"Autauga, AL",104900,0.018713
1,2020-03-31,Autauga,Alabama,1001.0,7,7,0,0,2020,3,...,2020-03-31,True,AL,"Autauga, AL",8600000US36006,1108,36006,"Autauga, AL",104900,0.010562
2,2020-03-31,Autauga,Alabama,1001.0,7,7,0,0,2020,3,...,2020-03-31,True,AL,"Autauga, AL",8600000US36022,13003,36022,"Autauga, AL",104900,0.123956
3,2020-03-31,Autauga,Alabama,1001.0,7,7,0,0,2020,3,...,2020-03-31,True,AL,"Autauga, AL",8600000US36051,2057,36051,"Autauga, AL",104900,0.019609
4,2020-03-31,Autauga,Alabama,1001.0,7,7,0,0,2020,3,...,2020-03-31,True,AL,"Autauga, AL",8600000US36066,19732,36066,"Autauga, AL",104900,0.188103

In [36]:
x_best.columns

Index(['zip', 'mse', 'r2', 'rmse', 's_rmse', 'var_rmse', 'State', 'City',
       'CountyName'],
      dtype='object')

In [38]:
x_best = x_best.join(covid_df[['ttl_pop','county_pop', 'percent_to_ttl']], how='left', on='zip')

In [39]:
x_best.head()

,zip,mse,r2,rmse,s_rmse,var_rmse,State,City,CountyName,ttl_pop,county_pop,percent_to_ttl
0,37138,0.522023,0.998857,0.722511,11.777128,47.205103,TN,Nashville,Davidson County,14701,1812381,0.008111
1,45324,1.018461,0.989524,1.009188,65.082467,24.388845,OH,Fairborn,Greene County,76930,10571247,0.007277
2,53212,1.103078,0.937562,1.050275,16.367505,109.197334,WI,Milwaukee,Milwaukee County,12394,3263766,0.003797
3,85712,1.512078,0.979263,1.229666,73.373824,173.439246,AZ,Tucson,Pima County,15362,586020,0.026214
4,37066,2.620541,0.985129,1.618808,39.788738,19.038364,TN,Gallatin,Sumner County,855,1812381,0.000472

In [53]:
x_best_info = x_best.groupby(['State', 'CountyName','zip', 'rmse', 's_rmse', 'var_rmse'])['ttl_pop','percent_to_ttl'].sum()
x_best_info.reset_index(inplace=True)
x_best_info.head()

,State,CountyName,zip,rmse,s_rmse,var_rmse,ttl_pop,percent_to_ttl
0,AZ,Maricopa County,85006,15.697861,47.237717,32.975836,605,0.004065
1,AZ,Maricopa County,85008,9.552764,248.359138,24.583361,8253,0.055448
2,AZ,Maricopa County,85012,39.688052,120.733829,57.225567,1264,0.008492
3,AZ,Maricopa County,85014,7.895741,23.217558,35.201221,2686,0.018046
4,AZ,Maricopa County,85016,11.492153,203.046148,46.647816,4357,0.029272

In [106]:
x_best_pops = x_best.groupby(['State', 'CountyName', 'City']).agg({'zip':['count'],
                                                                  'ttl_pop':['sum'],
                                                                  'percent_to_ttl':['sum']})
x_best_pops.reset_index()

    State             CountyName            City   zip ttl_pop percent_to_ttl
                                                 count     sum            sum
0      AZ        Maricopa County        Chandler     1   10094       0.050546
1      AZ        Maricopa County         Gilbert     1   37182       0.186190
2      AZ        Maricopa County        Glendale     3   32050       0.160492
3      AZ        Maricopa County        Goodyear     2    9839       0.049269
4      AZ        Maricopa County            Mesa     3   19075       0.113003
5      AZ        Maricopa County         Phoenix    10   45849       0.288001
6      AZ            Pima County          Tucson     5  128518       0.219307
7      CA         Alameda County         Alameda     1   25141       0.030101
8      CA         Alameda County          Dublin     1   22029       0.069215
9      CA         Alameda County       Livermore     1   25129       0.030086
10     CA         Alameda County      Union City     1       0       0.000000
11     CA    Contra Costa County         Antioch     1   18646       0.022324
12     CA    Contra Costa County         Concord     1   14992       0.017949
13     CA    Contra Costa County       Pittsburg     1   48507       0.152408
14     CA     Los Angeles County         Arcadia     1   43876       0.234708
15     CA     Los Angeles County       Calabasas     1   14037       0.294592
16     CA     Los Angeles County       Claremont     1   42227       0.203805
17     CA     Los Angeles County     Diamond Bar     1   22487       0.108532
18     CA     Los Angeles County      Long Beach     3   49650       0.155138
19     CA     Los Angeles County     Los Angeles     9  100693       1.769923
20     CA     Los Angeles County        Pasadena     1    3994       0.185156
21     CA     Los Angeles County   Redondo Beach     1   30841       0.029046
22     CA     Los Angeles County   Santa Clarita     2   17305       0.363177
23     CA     Los Angeles County  West Hollywood     1    5380       0.247163
24     CA           Marin County     Mill Valley     1    8782       0.111232
25     CA          Orange County     Aliso Viejo     1   71004       0.046248
26     CA          Orange County         Anaheim     1   51745       0.033704
27     CA          Orange County      Costa Mesa     1   11546       0.007520
28     CA          Orange County         Cypress     1   30900       0.029102
29     CA          Orange County       Fullerton     1   25907       0.016874
..    ...                    ...             ...   ...     ...            ...
327    VA       Arlington County       Arlington     2   45398       0.183425
328    VA    Chesterfield County      Midlothian     1      48       0.001031
329    VA         Fairfax County       Annandale     1    1289       0.026102
330    VA         Fairfax County     Centreville     2     382       0.001846
331    VA         Fairfax County         Fairfax     1    2480       0.050219
332    VA         Fairfax County    Falls Church     1    1289       0.026102
333    VA         Fairfax County         Herndon     1    6160       0.029760
334    VA         Fairfax County    Hybla Valley     1    4271       0.017256
335    VA         Fairfax County          McLean     1      51       0.000206
336    VA         Fairfax County          Oakton     1    1037       0.004190
337    VA         Fairfax County     Springfield     1    5554       0.022440
338    VA         Loudoun County           Aldie     1   13173       0.063641
339    VA         Loudoun County         Ashburn     2   43903       0.212103
340    VA         Loudoun County       Chantilly     1     151       0.000730
341    VA         Loudoun County        Leesburg     1   28675       0.138534
342    VA  Prince William County     Gainesville     1    7616       0.036794
343    VA  Prince William County        Manassas     1    3444       0.016639
344    VA  Prince William County      Woodbridge     2   16219       0.065531
345    VA    Spotsylvania County  Fredericksburg     1    4624       0.018683
346    WA           Clark County       Vancouver     2   71443       0.047283
347    WA            King County     Federal Way     1   18023       0.011928
348    WA            King County         Redmond     1   52886       0.035001
349    WA          Pierce County      South Hill     1   61760       0.040874
350    WA          Pierce County          Tacoma     2   46631       0.030862
351    WA       Snohomish County         Bothell     1    1832       0.001212
352    WA       Snohomish County    Lake Stevens     1   26483       0.017527
353    WA       Snohomish County      Marysville     1   35855       0.023730
354    WA         Spokane County         Spokane     1   51791       0.034732
355    WI            Dane County         Madison     2   39794       0.091921
356    WI       Milwaukee County       Milwaukee     1   12394       0.003797

[357 rows x 6 columns]

In [110]:
x_best_pops = x_best_pops.droplevel(1, axis=1).reset_index()
#x_best_pops = x_best_pops.rename(columns = {"count": "zip_count", "sum":"ttl_pop","sum":"percent_to_ttl"})
#x_best_pops = x_best_pops.droplevel(0, axis=1).reset_index()

In [111]:
x_best_pops.sort_values(by='zip', ascending=False)

,State,CountyName,City,zip,ttl_pop,percent_to_ttl
322,TX,Travis County,Austin,13,181912,5.710785
264,PA,Philadelphia County,Philadelphia,12,343949,0.077013
219,NC,Mecklenburg County,Charlotte,12,53445,0.827028
5,AZ,Maricopa County,Phoenix,10,45849,0.288001
50,CA,San Diego County,San Diego,10,252536,0.164488
255,OR,Multnomah County,Portland,10,368299,0.132796
19,CA,Los Angeles County,Los Angeles,9,100693,1.769923
68,CO,El Paso County,Colorado Springs,9,140127,0.143230
280,TX,Bexar County,San Antonio,9,97151,0.483096
112,FL,Orange County,Orlando,9,39381,0.951416
87,FL,Duval County,Jacksonville,8,14701,0.593237
156,IL,Cook County,Chicago,8,232041,0.277571
274,TN,Davidson County,Nashville,8,219800,0.121277
223,NC,Wake County,Raleigh,8,29458,0.655350
143,GA,Fulton County,Atlanta,7,103691,0.965772
318,TX,Tarrant County,Fort Worth,7,8328,0.325860
289,TX,Dallas County,Dallas,7,116554,0.143581
277,TN,Shelby County,Memphis,5,26360,0.520980
67,CO,Denver County,Denver,5,94451,0.096123
177,IN,Marion County,Indianapolis,5,166100,0.015712
63,CO,Arapahoe County,Aurora,5,9020,0.640079
6,AZ,Pima County,Tucson,5,128518,0.219307
308,TX,Harris County,Houston,5,2318,0.072057
236,NV,Clark County,Las Vegas,5,51576,0.302543
91,FL,Hillsborough County,Tampa,5,5209,0.177915
224,NE,Douglas County,Omaha,4,45531,0.188398
75,CT,Fairfield County,Stamford,3,22189,0.170119
104,FL,Miami-Dade County,Miami,3,33669,0.069589
272,SC,Richland County,Columbia,3,3139,0.188879
4,AZ,Maricopa County,Mesa,3,19075,0.113003
...,...,...,...,...,...,...
123,FL,Pasco County,Land O Lakes,1,5006,0.173554
120,FL,Palm Beach County,Century Village,1,3230,0.006676
157,IL,Cook County,Elk Grove Village,1,25890,0.028016
119,FL,Palm Beach County,Boca Raton,1,2352,0.080333
116,FL,Orange County,Winter Park,1,3762,0.090887
115,FL,Orange County,Windermere,1,534,0.012234
114,FL,Orange County,Williamsburg,1,509,0.012297
113,FL,Orange County,Pine Hills,1,9785,0.236398
111,FL,Orange County,Maitland,1,5850,0.081704
110,FL,Orange County,Doctor Phillips,1,2341,0.056557
132,FL,Seminole County,Oviedo,1,7991,0.111606
133,FL,Seminole County,Sanford,1,509,0.012297
134,FL,Seminole County,Winter Springs,1,7,0.000098
135,GA,Bartow County,Cartersville,1,161,0.001207
155,IL,Cook County,Berwyn,1,654,0.000782
154,IL,Cook County,Arlington Heights,1,43616,0.047197
153,ID,Canyon County,Caldwell,1,13997,0.014975
152,HI,Honolulu County,Waianae,1,32441,0.011697
151,HI,Honolulu County,Kailua,1,50135,0.018077
147,GA,Henry County,Hampton,1,9104,0.068230
145,GA,Gwinnett County,Dacula,1,1158,0.020962
144,GA,Fulton County,Johns Creek,1,1844,0.033379
142,GA,Douglas County,Douglasville,1,1988,0.014899
141,GA,Cobb County,Vinings,1,9675,0.094033
140,GA,Cobb County,Smyrna,1,8366,0.151437
139,GA,Cobb County,Austell,1,38831,0.291019
138,GA,Cobb County,Acworth,1,36305,0.272088
137,GA,Clayton County,Jonesboro,1,38831,0.291019
136,GA,Carroll County,Carrollton,1,4283,0.032099
356,WI,Milwaukee County,Milwaukee,1,12394,0.003797

In [112]:
x_best_pops.sort_values(by='ttl_pop', ascending=False)

,State,CountyName,City,zip,ttl_pop,percent_to_ttl
255,OR,Multnomah County,Portland,10,368299,0.132796
264,PA,Philadelphia County,Philadelphia,12,343949,0.077013
50,CA,San Diego County,San Diego,10,252536,0.164488
156,IL,Cook County,Chicago,8,232041,0.277571
274,TN,Davidson County,Nashville,8,219800,0.121277
322,TX,Travis County,Austin,13,181912,5.710785
210,MN,Ramsey County,Saint Paul,3,177451,0.067905
177,IN,Marion County,Indianapolis,5,166100,0.015712
68,CO,El Paso County,Colorado Springs,9,140127,0.143230
6,AZ,Pima County,Tucson,5,128518,0.219307
289,TX,Dallas County,Dallas,7,116554,0.143581
143,GA,Fulton County,Atlanta,7,103691,0.965772
19,CA,Los Angeles County,Los Angeles,9,100693,1.769923
280,TX,Bexar County,San Antonio,9,97151,0.483096
67,CO,Denver County,Denver,5,94451,0.096123
209,MN,Hennepin County,Minneapolis,3,92587,0.058640
150,HI,Honolulu County,Honolulu,2,83298,0.030034
200,MI,Oakland County,Ferndale,1,77195,0.007302
248,OH,Greene County,Fairborn,1,76930,0.007277
202,MI,Oakland County,Royal Oak,1,74264,0.007025
162,IL,Cook County,Schaumburg,1,72380,0.078322
215,NC,Durham County,Durham,3,71835,0.513518
346,WA,Clark County,Vancouver,2,71443,0.047283
25,CA,Orange County,Aliso Viejo,1,71004,0.046248
66,CO,Boulder County,Longmont,1,69946,0.071184
71,CO,Jefferson County,Lakewood,2,69289,0.070516
254,OR,Multnomah County,Gresham,2,69196,0.024950
211,MN,Scott County,Prior Lake,1,65948,0.041768
207,MN,Dakota County,Burnsville,1,65811,0.041681
291,TX,Dallas County,Garland,2,64478,0.079429
...,...,...,...,...,...,...
90,FL,Hillsborough County,Lake Magdalene,1,341,0.011647
212,MN,Scott County,Savage,1,335,0.000212
319,TX,Tarrant County,Grapevine,1,240,0.009391
317,TX,Tarrant County,Crowley,1,231,0.009039
324,TX,Williamson County,Georgetown,1,230,0.011483
323,TX,Travis County,Pflugerville,1,230,0.011483
208,MN,Dakota County,Farmington,1,227,0.000087
321,TX,Tarrant County,North Richland Hills,1,198,0.018092
181,KY,Jefferson County,Louisville,1,198,0.000190
299,TX,Denton County,Roanoke,1,198,0.018092
247,OH,Franklin County,Dublin,1,193,0.002926
285,TX,Collin County,McKinney,1,192,0.000237
267,SC,Charleston County,Charleston,2,186,0.007871
300,TX,El Paso County,El Paso,1,170,0.000363
135,GA,Bartow County,Cartersville,1,161,0.001207
88,FL,Duval County,Jacksonville Beach,1,153,0.006174
340,VA,Loudoun County,Chantilly,1,151,0.000730
222,NC,Union County,Stallings,1,140,0.002166
288,TX,Dallas County,Cedar Hill,1,104,0.000128
315,TX,Rockwall County,Rockwall,1,104,0.000128
61,CO,Adams County,Commerce City,1,101,0.007167
64,CO,Arapahoe County,Centennial,1,101,0.007167
62,CO,Adams County,Westminster,1,101,0.007167
335,VA,Fairfax County,McLean,1,51,0.000206
328,VA,Chesterfield County,Midlothian,1,48,0.001031
243,NY,Westchester County,Yonkers,1,39,0.000094
244,OH,Cuyahoga County,Cleveland Heights,1,21,0.000002
134,FL,Seminole County,Winter Springs,1,7,0.000098
186,MD,Anne Arundel County,Annapolis,1,0,0.000000
10,CA,Alameda County,Union City,1,0,0.000000

In [113]:
x_best_pops.sort_values(by='percent_to_ttl', ascending=False)

,State,CountyName,City,zip,ttl_pop,percent_to_ttl
322,TX,Travis County,Austin,13,181912,5.710785
19,CA,Los Angeles County,Los Angeles,9,100693,1.769923
143,GA,Fulton County,Atlanta,7,103691,0.965772
112,FL,Orange County,Orlando,9,39381,0.951416
219,NC,Mecklenburg County,Charlotte,12,53445,0.827028
223,NC,Wake County,Raleigh,8,29458,0.655350
63,CO,Arapahoe County,Aurora,5,9020,0.640079
246,OH,Franklin County,Columbus,3,20194,0.611828
87,FL,Duval County,Jacksonville,8,14701,0.593237
277,TN,Shelby County,Memphis,5,26360,0.520980
215,NC,Durham County,Durham,3,71835,0.513518
280,TX,Bexar County,San Antonio,9,97151,0.483096
214,MO,Jackson County,Kansas City,3,1990,0.466042
268,SC,Charleston County,North Charleston,3,10212,0.432126
130,FL,Polk County,Poinciana,1,18559,0.425187
221,NC,Orange County,Chapel Hill,1,16894,0.375840
22,CA,Los Angeles County,Santa Clarita,2,17305,0.363177
318,TX,Tarrant County,Fort Worth,7,8328,0.325860
183,MA,Middlesex County,Marlborough,1,25071,0.309217
236,NV,Clark County,Las Vegas,5,51576,0.302543
15,CA,Los Angeles County,Calabasas,1,14037,0.294592
137,GA,Clayton County,Jonesboro,1,38831,0.291019
139,GA,Cobb County,Austell,1,38831,0.291019
74,CT,Fairfield County,Norwalk,1,37608,0.288334
5,AZ,Maricopa County,Phoenix,10,45849,0.288001
297,TX,Denton County,Justin,1,3151,0.287920
266,SC,Berkeley County,Ladson,1,6656,0.281652
156,IL,Cook County,Chicago,8,232041,0.277571
138,GA,Cobb County,Acworth,1,36305,0.272088
77,FL,Brevard County,Palm Bay,1,11049,0.266936
...,...,...,...,...,...,...
245,OH,Cuyahoga County,Lakewood,1,20511,0.001940
330,VA,Fairfax County,Centreville,2,382,0.001846
70,CO,El Paso County,Security-Widefield,1,1451,0.001483
205,MN,Anoka County,Coon Rapids,1,2126,0.001346
351,WA,Snohomish County,Bothell,1,1832,0.001212
135,GA,Bartow County,Cartersville,1,161,0.001207
179,KS,Sedgwick County,Wichita,1,754,0.001130
328,VA,Chesterfield County,Midlothian,1,48,0.001031
187,MD,Anne Arundel County,Brooklyn Park,1,1032,0.000983
275,TN,Rutherford County,La Vergne,1,1475,0.000814
155,IL,Cook County,Berwyn,1,654,0.000782
340,VA,Loudoun County,Chantilly,1,151,0.000730
194,MD,Montgomery County,Gaithersburg,1,678,0.000646
168,IL,DuPage County,Lisle,1,415,0.000496
278,TN,Sumner County,Gallatin,1,855,0.000472
165,IL,DuPage County,Carol Stream,1,429,0.000464
300,TX,El Paso County,El Paso,1,170,0.000363
201,MI,Oakland County,Madison Heights,1,2683,0.000254
285,TX,Collin County,McKinney,1,192,0.000237
212,MN,Scott County,Savage,1,335,0.000212
335,VA,Fairfax County,McLean,1,51,0.000206
181,KY,Jefferson County,Louisville,1,198,0.000190
288,TX,Dallas County,Cedar Hill,1,104,0.000128
315,TX,Rockwall County,Rockwall,1,104,0.000128
134,FL,Seminole County,Winter Springs,1,7,0.000098
243,NY,Westchester County,Yonkers,1,39,0.000094
208,MN,Dakota County,Farmington,1,227,0.000087
244,OH,Cuyahoga County,Cleveland Heights,1,21,0.000002
10,CA,Alameda County,Union City,1,0,0.000000
186,MD,Anne Arundel County,Annapolis,1,0,0.000000

In [136]:
xs_only = x_s_combo[(x_s_combo['rmse']<x_s_combo['s_rmse'])]

In [137]:
xs_only.rename(columns={'mse':'x_mse',
                          'r2':'x_r2',
                          'rmse':'x_rmse'}, inplace=True)

C:\Users\pengu\Anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [147]:
xs_only['rmse_diff'] = xs_only['x_rmse'] - xs_only['s_rmse']
xs_only = xs_only[['zip', 'x_r2', 'x_rmse', 's_rmse',  'rmse_diff', 'CountyName', 'State']]
xs_only.sort_values(by='rmse_diff', ascending=False, inplace=True)

In [148]:
xs_only.shape

(741, 7)

In [149]:
xs_only.head()

,zip,x_r2,x_rmse,s_rmse,rmse_diff,CountyName,State
1174,85286,-3.233763,75.905736,75.941978,-0.036242,Maricopa County,AZ
1347,55403,-52.969314,103.256660,103.317748,-0.061087,Hennepin County,MN
179,92103,0.385560,13.386995,13.518810,-0.131816,San Diego County,CA
921,33761,-3.390147,54.495986,54.640862,-0.144876,Pinellas County,FL
672,95833,-0.206298,37.036855,37.202920,-0.166065,Sacramento County,CA

In [150]:
xs_only.tail()

,zip,x_r2,x_rmse,s_rmse,rmse_diff,CountyName,State
1477,22203,-192.573570,148.043337,534.225944,-386.182607,Arlington County,VA
88,22003,0.551673,8.170123,412.801178,-404.631055,Fairfax County,VA
94,92021,0.839591,8.619261,438.568573,-429.949312,San Diego County,CA
1489,98107,-219.398486,158.837982,614.980312,-456.142330,King County,WA
1279,7047,-1097.453877,91.101204,676.029040,-584.927837,Hudson County,NJ

In [158]:
xs_rmse_stats = xs_only[['x_rmse', 's_rmse', 'rmse_diff']].agg({'x_rmse' : ['mean', 'min', 'max'],
                                                               's_rmse' : ['mean', 'min', 'max'],
                                                               'rmse_diff' : ['mean', 'min', 'max']})

In [159]:
xs_rmse_stats

          x_rmse      s_rmse   rmse_diff
mean   37.795993  106.646948  -68.850956
min     0.722511    8.405063 -584.927837
max   193.196816  676.029040   -0.036242

In [161]:
sx_only = x_s_combo[(x_s_combo['rmse']>x_s_combo['s_rmse'])]
sx_only.rename(columns={'mse':'x_mse',
                          'r2':'x_r2',
                          'rmse':'x_rmse'}, inplace=True)
sx_only['rmse_diff'] = sx_only['x_rmse'] - sx_only['s_rmse']
sx_only = sx_only[['zip', 'x_r2', 'x_rmse', 's_rmse',  'rmse_diff', 'CountyName', 'State']]
sx_only.sort_values(by='rmse_diff', ascending=False, inplace=True)

print(sx_only.shape)

(899, 7)

C:\Users\pengu\Anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
C:\Users\pengu\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [163]:
sx_rmse_stats = sx_only[['x_rmse', 's_rmse', 'rmse_diff']].agg({'x_rmse' : ['mean', 'min', 'max'],
                                                               's_rmse' : ['mean', 'min', 'max'],
                                                               'rmse_diff' : ['mean', 'min', 'max']})

sx_rmse_stats

          x_rmse      s_rmse   rmse_diff
mean   95.737028   33.693267   62.043761
min     7.819605    0.514669    0.006906
max   710.200476  267.547539  700.851483

In [166]:
sx_only.head()

,zip,x_r2,x_rmse,s_rmse,rmse_diff,CountyName,State
1639,90265,-4.593647,710.200476,9.348994,700.851483,Los Angeles County,CA
1638,94301,-90.803056,626.635677,14.028358,612.607319,Santa Clara County,CA
1637,94105,-81.225802,611.988066,6.695973,605.292093,San Francisco County,CA
1636,94107,-66.508267,545.823560,24.761957,521.061602,San Francisco County,CA
1635,94103,-63.486363,511.581970,52.368564,459.213406,San Francisco County,CA

In [167]:
x_s_combo.shape

(1640, 9)